.headerDiv {
    background-color: #212121;
    color: #ecebe8;
    display: flex;
    float: left;
    height: 10vh;
    width: 100%;
}

.sidebarDiv {
    background-color: #121212;
    color: #b3b3b3;
	height: 100vh;
	width: 20%;
	display: block;
	float: left;
	margin: 0;
}

.footerDiv {
	background-color: #121212;
	color: #b3b3b3;
    display: block;
	height: 15vh;
}

