.links {
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
	color: #b3b3b3;
	font-size: 1.4rem;
	font-weight: bold;
	word-wrap: break-word;
	text-decoration: none;
	display: flex;
	justify-content: center;
	border: 5vh;
	margin: 2vh;
}

hr {
	width: 75%;
}

#mainLink {
	margin-top: 3vh;
}
img {
	max-width: 80%;
	max-height: 80%;
	margin: 2vh 2vw 2vh 2vw;
}