body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
	display: grid;
}

a {
	display: inline-flex;
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}

/* ------------------------------------- HOME ---------------------------------- */

.homeDiv {
	font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
	margin: 30vh 10vw;
	color: #FFFFFF;
	text-align: center;
}

.profileIntro {
	display: block;
	align-items: center;
	justify-content: stretch;
	font-size: 2rem;
}

/* ------------------------------------- CONTACT ---------------------------------- */

.contactsDiv {
	margin: 15vh 5vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color: #FFFFFF;
	margin-bottom: 1rem;
}

.contactGreet {
	display: block;
	flex-wrap: nowrap;
	color: #FFFFFF;
	margin-top: 1vh;
	text-align: center;
}

.contactInformation {
	display: flex;
	flex-wrap: wrap;
	text-align: right;
	color: #FFFFFF;
	max-width: 5%;
	max-height: 5%;
	margin-left: 37.5vw;
}

.contactInfo {
	width: 90%;
	height: 55%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: .5rem;
	padding-bottom: 1%;
	font-size: .8rem;
}

.contactCover {
	width: 20%;
	height: 100%;
	background-color: #161616;
	border-radius: 0.5rem;
	align-items: stretch;
	justify-content: center;
	font-size: 40;
	margin-bottom: 1rem;
}

.contactCover:hover {
	transition: 0.5s;
	background-color: #323130;
}

.contactImage {
	width: 90%;
	height: 55%;
	margin: 1rem auto;
	position: relative;
	box-shadow:
		0 4px 16px rgba(0, 0, 0, 0.4),
		0 8px 18px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: .5rem;
	padding-bottom: 1%;
	font-size: .8rem;
	cursor: pointer;
}

.contactTitle {
	font-size: 1.8vw;
	font-weight: 900;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.01rem;
}

.contactName {
	font-size: 1rem;
	color: #FFFFFF;
	margin-bottom: 0.5rem;
	margin-left: .8rem;
	margin-top: .001rem;
}


/* ------------------------------------- ABOUT ME ---------------------------------- */

.bio h3 {
	display: block;
	font-size: 1rem;
	margin-left: 1.5rem;
	margin-right: 5rem;
	font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
	font-weight: lighter;
}

.aboutDiv {
	margin: 15vh 5vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color: #FFFFFF;
	margin-bottom: 1rem;
}

.aboutCover {
	width: 16%;
	height: 100%;
	background-color: #161616;
	border-radius: 0.5rem;
	align-items: stretch;
	justify-content: center;
	font-size: 40;
	margin-bottom: 1rem;
}

.aboutCover:hover {
	transition: 0.5s;
	background-color: #323130;
}

.aboutText {
	width: 90%;
	height: 55%;
	margin: 1rem auto;
	position: relative;
	box-shadow:
		0 4px 16px rgba(0, 0, 0, 0.4),
		0 8px 18px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: .5rem;
	padding-bottom: 20%;
	font-size: .8rem;
}

.aboutTitle {
	font-size: 1.8vw;
	font-weight: 900;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.01rem;
}

.aboutTitle::after {
	content: '';
	width: 100%;
	height: 2px;
	background: #FFFFFF;
	border-radius: 1px;
	margin-top: 8px;
}

.aboutCategory {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1vw;
}

.aboutName {
	font-size: 1rem;
	color: #FFFFFF;
	margin-bottom: 0.5rem;
	margin-left: .8rem;
	margin-top: .001rem;
}



/* ------------------------------------- PROJECTS ---------------------------------- */

.projectsDiv {
	margin: 20vh 2vw;
	max-width: 100%; 
	display: flex;
	flex-direction: row;
	color: #FFFFFF;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}

.card {
	width: 30%;
	max-height: 100%;
	background-color: #171717;
	border-radius: 0.5rem;
	cursor: pointer;
	align-items: stretch;
	justify-content: center;
}

.card:hover {
	transition: 0.5s;
	background-color: #323130;
}

.cardCover {
	width: 90%;
	height: 90%;
	margin: 1rem auto;
	position: relative;
	background: linear-gradient(#C2A36A, 
		#A7653B);
	box-shadow:
		0 4px 16px rgba(0, 0, 0, 0.4),
		0 8px 18px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.5rem;
	padding-bottom: 20%;
}

.cardName {
	font-size: 2.4vw;
	font-weight: 900;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.01rem;
}

.cardName::after {
	content: '';
	width: 100%;
	height: 2px;
	background: #FFFFFF;
	border-radius: 1px;
	margin-top: 10px;
}

.cardCategory {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.3vw;
}

.cardTitle {
	font-size: 1rem;
	margin: 1rem;
	color: #FFFFFF;
}

.cardAbout {
	font-size: 0.9rem;
	color: #AAAAAA;
	margin-bottom: 0.5rem;
	margin: 1rem;
}


.sidebarDiv {
	background-color: #121212;
	color: #b3b3b3;
	height: 85vh;
	width: 18%;
	display: block;
	font-size: 1rem;
}

.headerDiv {
    background-color: #212121;
    color: #ecebe8;
    display: block;
	position: absolute;
	width: 100%;
	max-height: 12%;
	opacity: 0.60;
	float: right;
	font-size: 1rem;
}

.mainDiv {
	/* justify-content: center; - not necessary */
	margin-top: 0;
	float: right;
	width: 82%;
	display: block; /* this set to flex will alter everything */
	flex-direction: row;
	position: relative;
	height: 85vh;
	background-image: 
	linear-gradient(
		to bottom,
		#121212,
		#121212
	);
	z-index: 1;
}
.mainDiv::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: 
	linear-gradient(
		to bottom,
		#465A73,
		/* or Spotify Green - 1DB954 */
		#121212
	);
	z-index: -1;
	transition: opacity 0.5s linear;
    opacity: 0;
}
.mainDiv:hover::before {
	opacity: 1;
} 


.footerDiv {
	background-color: #121212;
	display: flex;
	position: relative;
	height: 15vh;
	border-top-color: #b3b3b3;
}

.projectDiv {
	color: #b3b3b3;
}

/* ------------------------------------- MOBILE ---------------------------------- */

.resumeDiv {
	margin: 20vh 2vw;
	max-width: 100%; 
	display: block;
	/* flex-direction: row; */
	color: #FFFFFF;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}












/* ------------------------------------- MOBILE ---------------------------------- */

@media only screen and (max-width: 600px){

	.links {
		font-size: .2rem;;
	}
	.headerDiv{
		font-size: 3.5vw;
	}

	.sidebarDiv {
		font-size: 1.5vh;
	}
	.headerDiv {
		background-color: #212121;
		color: #ecebe8;
		display: block;
		position: absolute;
		width: 100%;
		max-height: 12%;
		opacity: 0.60;
		float: right;
		font-size: 0.6rem;
	}

	.homeDiv {
		font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
		margin: 15vh 10vw;
		color: #FFFFFF;
		font-size: .8rem;
	}
	
	.profileIntro {
		display: block;
		align-items: center;
		justify-content: stretch;
		margin-left: 15vw;
		margin-right: 15vw;
		font-size: .8rem;
	}

	.cards {
		flex-grow: 1;
		width: 100%;
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}

	.cards img {
		max-width: 100%;
		max-height: 100%;
		margin: 1rem 1rem;
	}

	.projectsDiv {
		margin-top: 9vh;
		display: flex;
		flex-wrap: wrap;
		color: #FFFFFF;
		align-items: center;
		justify-content: space-around;
		font-size: .75rem;
		position: absolute;
	}
	.card {
		width: 52%;
	}
	.cardCover {
		width: 90%;
		height: 90%;
		margin: 1rem auto;
		position: relative;
		background: linear-gradient(#C2A36A, 
			#A7653B);
		box-shadow:
			0 4px 16px rgba(0, 0, 0, 0.4),
			0 8px 18px rgba(0, 0, 0, 0.2);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 1.5rem;
		padding-bottom: 20%;
	}

	.cardName {
		font-size: 2.8vw;
		font-weight: 900;
		display: flex;
		flex-direction: column;
		margin-bottom: 0.01rem;
	}
	
	.cardName::after {
		content: '';
		width: 100%;
		height: 2px;
		background: #FFFFFF;
		border-radius: 1px;
		margin-top: 10px;
	}
	
	.cardCategory {
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size: .55rem;
	}

	.cardTitle {
		display: none;
	}


	/* implentation of techniques? */
	.cardAbout {
		font-size: 0.5rem;
		color: #AAAAAA;
		margin-bottom: 0.5rem;
		margin: .4rem;
	}
	
	.aboutDiv > h1 {
		margin: 1rem 2vh;
		font-size: 1rem;
	}

	.bio h3 {
		font-size: 0.85rem;
		margin-right: 0.8rem;
	}

	.aboutName {
		font-size: .9vh;
		color: #AAAAAA;
		margin-bottom: 0.5rem;
		margin-left: .3rem;
		margin-top: .001rem;
	}

	.aboutCover {
		width: 20%;
		height: 100%;
		background-color: #161616;
		border-radius: 0.5rem;
		align-items: stretch;
		justify-content: center;
		font-size: 40;
		margin-bottom: 1rem;
	}
	
	.aboutCover:hover {
		transition: 0.5s;
		background-color: #323130;
	}

	.aboutCategory {
		/* text-transform: uppercase;
		font-size: .15rem; */
		display: none;
	}

	.contactName {
		font-size: .5rem;
	}

	.contactCover {
		width: 25%;
		height: 100%;
		background-color: #161616;
		border-radius: 0.5rem;
		align-items: stretch;
		justify-content: center;
		font-size: 40;
		margin-bottom: 1rem;
	}
	
	.contactCover:hover {
		transition: 0.5s;
		background-color: #323130;
	}
}