body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

:root {
	--color-bg-primary: #131313;
	--color-bg-secondary: #171717;
	--color-grad-bottom: #132E56;
	--color-grad-top: #00716A;
	--color-green-accent: #1DB954;
	--color-text-primary: #FFFFFF;
	--color-text-muted: #AAAAAA;
}

body{
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
	display: grid;
}
h1{
   font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}
h2 {
	font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}
h4 {
	font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}
a {
	display: inline-flex;
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}

.projectsDiv {
	margin-top: 11vh;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	color: #FFFFFF;
	align-items: center;
	justify-content: space-around;
	position: absolute;
}

/* .projectsDiv {
	display: flex;
	flex-wrap: wrap;
	margin-top: 11vh;
	justify-content: space-between;
} */

.card {
	align-items: stretch;
	width: 30%;
}

/* .card{
	flex: 1;
	width: 24vw;
	padding: 0.8rem;
	background-color: #171717;
	border-radius: 0.5rem;
	cursor: pointer;
	align-items: stretch;
} */

/* .imageCover {
	width: 22.5vw;
	height: 22.5vh;
	position: relative;
	background: linear-gradient(#C2A36A, 
		#A7653B);
	box-shadow:
		0 4px 16px rgba(0, 0, 0, 0.4),
		0 8px 18px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.5rem;
	padding-bottom: 20%;
} */

/* .projectName {
	font-size: 2.4vw;
	font-weight: 900;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.01rem;
} */

/* .projectName::after {
	content: '';
	width: 100%;
	height: 2px;
	background: #FFFFFF;
	border-radius: 1px;
	margin-top: 10px;
} */

/* .projectCategory {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.3vw;
} */

/* .projectTitle {
	font-size: 1rem;
	margin-bottom: .4rem;
	color: #FFFFFF;
} */

/* .projectAbout {
	font-size: 0.9rem;
	color: #AAAAAA;
	margin-bottom: 0.5rem;
	word-wrap: break-word;
} */


.sidebarDiv {
	background-color: #121212;
	color: #b3b3b3;
	height: 85vh;
	width: 18%;
	display: block;
}

.headerDiv {
    background-color: #212121;
    color: #ecebe8;
    display: block;
	position: absolute;
	width: 100%;
	max-height: 12%;
	opacity: 0.60;
	float: right;
	font-size: 1rem;
}

.mainDiv {
	justify-content: center;
	margin-top: 0;
	float: right;
	width: 82%;
	display: flex;
	flex-direction: row;
	position: relative;
	height: 85vh;
	background-image: 
	linear-gradient(
		to bottom,
		#121212,
		#121212
	);
	z-index: 1;
}
.mainDiv::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: 
	linear-gradient(
		to bottom,
		#465A73,
		/* or Spotify Green - 1DB954 */
		#121212
	);
	z-index: -1;
	transition: opacity 0.5s linear;
    opacity: 0;
}
.mainDiv:hover::before {
	opacity: 1;
} 


.footerDiv {
	background-color: #121212;
	display: flex;
	position: relative;
	height: 15vh;
	border-top-color: #b3b3b3;
}

.projectDiv {
	color: #b3b3b3;
}

.aboutDiv{
    margin-top: 11vh;
	color: #b3b3b3;
}




@media only screen and (max-width: 600px) {
	.headerDiv{
		font-size: 3.5vw;
	}

	.sidebarDiv {
		font-size: 1.5vh;
	}

	.projectsDiv {
		margin-top: 11vh;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		color: #FFFFFF;
		align-items: center;
		justify-content: space-around;
		font-size: .75rem;
		position: absolute;
	}
}